# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model files
models/*.keras
models/*.h5

# Dataset
data/raw/
data/processed/

# Streamlit
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store